<form class="form" align="center" [formGroup]="ProductDetails">
    <div class="header">
        <h1>ProductDetails</h1>
    </div>
    <div class="container fluid">
      <div class="row">
        <div class="col-3">
            <mat-form-field appearance="outline" class="desc">
                <mat-label> SlNo</mat-label>
                <input matInput type="number" placeholder="SlNo" formControlName="SlNo">
            </mat-form-field>
            </div>
            <div class="col-3">
            <mat-form-field appearance="outline" class="desc">
                <mat-label> Code</mat-label>
                <input matInput type="text" placeholder="Code" [(ngModel)]="Code" [ngModelOptions]="{standalone:true}">
            </mat-form-field>
        </div>
        </div>
        <div class="row">
            <div class=col-3>
                <mat-form-field appearance="outline" class="desc" >
                    <mat-label> Description</mat-label>
                    <input matInput type="text" placeholder="Descrption" formControlName="Descrption">
                </mat-form-field>
                </div>
                <div class="col-3">
                <mat-form-field appearance="outline" class="desc">
                    <mat-label>Type</mat-label>
                    <mat-select #mode value="select"  formControlName="Type">
                      <mat-option value="Select">Select</mat-option>
                      <mat-option value="Tablet">Tablet</mat-option>
                      <mat-option value="Tonic">Tonic</mat-option>
                      <mat-option value="Powder">Powder</mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            </div>
            <div class="row">
            <div class="col-3">
                <mat-form-field appearance="outline" class="desc">
                    <mat-label>
                        UOM
                    </mat-label>
                    <input matInput type="text" placeholder="UOM" formControlName="UOM">
                </mat-form-field>
                </div>
                <div class="col-3">
                <mat-form-field appearance="outline" class="desc">
                    <mat-label>
                        StdRate
                    </mat-label>
                    <input matInput type="number" placeholder="StdRate" formControlName="StdRate">
                </mat-form-field>
            </div>
            </div>
            <div class="row">
            <div class="col-6">
                <mat-form-field appearance="outline" class="desc">
                    <mat-label>
                        Notes
                    </mat-label>
                    <textarea matInput placeholder="Notes" formControlName="Notes"></textarea>
                </mat-form-field>
            </div>
        </div>
        </div>
        <div [ngStyle]="{'background-color':textColor,'color':'white'}" class="msg">
            {{msg}}
        </div>
        <div>
          <button id="btnapply" mat-raised-button color="primary" type="submit"
          (click)="submit()"><mat-icon>save</mat-icon>Apply</button>
        <button id="btnreset" type="button" mat-raised-button color="accent" (click)="Get()"><mat-icon>cached</mat-icon>Get</button>
        <button id="btnreset" type="button" mat-raised-button color="accent" (click)="Update()"><mat-icon>cached</mat-icon>Update</button>
        <button id="btnclear" type="button" mat-raised-button color="red" (click)="Delete()"><mat-icon>clear_all</mat-icon>Delete</button>
        <button id="btnclose" type="button" mat-raised-button color="red" (click)="Clear()"><mat-icon>clear</mat-icon>Clear</button>
        </div>
</form>
