<div class="signin-content">
  <mat-card>
    <div class="card-body auth-card">
      <mat-card-content>
        <!-- <div class="auth-avatar">
          <img src="https://pluspng.com/img-png/user-png-icon-account-avatar-human-male-man-men-people-person-download-svg-download-png-edit-icon-512.png" alt="user" class="user-image">
        </div>  -->
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <p>Please login to continue</p>
          <mat-divider></mat-divider>
          <mat-form-field appearance="fill" class="full-width-input">
            <input matInput placeholder="User id or email" formControlName="userName" required>
            <mat-error *ngIf="isFieldInvalid('userName')">
              <span *ngIf="form.get('userName')?.hasError('required')">User id or email required!</span>
              <span *ngIf="form.get('userName')?.hasError('pattern')">Username must be at least 3 characters long and can contain letters, numbers, dots, underscores, and hyphens.</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="full-width-input">
            <input matInput type="password" placeholder="Password" formControlName="password" required>
            <mat-error *ngIf="isFieldInvalid('password')">
              <span *ngIf="form.get('password')?.hasError('required')">Password required!</span>
              <span *ngIf="form.get('password')?.hasError('pattern')">Password must be at least 6 characters long and can contain letters, numbers, and special characters (#, *, _).</span>
            </mat-error>
          </mat-form-field>
          <div class="text-right forget-pass">
            <a routerLink="/forget-password">Forget Password ?</a>
          </div>
          <button mat-raised-button color="primary" type="submit" class="btn"><mat-icon>login</mat-icon>Login</button>
          <button mat-raised-button color="accent" type="button" class="btn" (click)="OnCancel()"><mat-icon>cancel</mat-icon>Cancel</button>
        </form>
        <div class="text-center sign-up">
          Don`t have an account? <a routerLink="/sign-up">Sign Up</a> here.
        </div>
      </mat-card-content>
    </div>
  </mat-card>
  <app-loader></app-loader>
</div>
