mat-form-field {
    gap: 1;
    padding-right: 9px;
    width: 30%;
  }
  .container {
    padding-top: 2%;
  }
  .heading{
    width: 100%;
    height: 50px;
    padding-top: 4px;
    margin-bottom: 30px;
    text-align: left;
    /* background: linear-gradient(to bottom, #84aee8 0%, #8a92f7 100%); */
    background-color: salmon;
    color: white;
  
  }
  ::ng-deep .mat-mdc-form-field-infix {
    min-height: 40px;
    font-size: small;
  }
   mat-mdc-text-field-wrapper
  mdc-text-field
  ng-tns-c1205077789-4
  mdc-text-field--filled {
  top: -1.5em !important;
} 
::ng-deep .mat-mdc-form-field-flex > .mat-mdc-form-field-infix {
    padding: 0.4em 0px !important;
  }
  ::ng-deep .mat-mdc-text-field-wrapper {
    top: -1.5em !important;
  } 
  #btn{
    margin-left:20px !important;
    margin-bottom:10px !important;
    font-size: 9px;
   height: 24px !important;
  }
  
.description{
    width: 60%;
    height: 100px;

}

.ag-theme-alpine{
  width:auto;
  max-width: 100%;
  overflow: hidden;
  --ag-font-size: 10px;
  --ag-header-height: 10px;
  --ag-header-foreground-color: white;
  --ag-header-background-color: rgb(13, 124, 228);
  --ag-header-cell-hover-background-color: rgb(80, 40, 140);
  --ag-header-cell-moving-background-color: rgb(80, 40, 140);

}

.ag-theme-alpine .ag-header {
  font-family: cursive;
}
.ag-theme-alpine .ag-header-group-cell {
  font-weight: normal;
  font-size: 22px;

}
.ag-theme-alpine .ag-header-cell {
  font-size: 18px;

}


