<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>Dairy Farm Management</h1>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" open="true" #sidenav="matSidenav" class="mat-elevation-z8">
    <img
      class="avatar mat-elevation-z8"
      src="assets\IMG-20240613-WA0011.jpg" />
    <h2 class="name">DairyFarm</h2>
    <button style="color:white" mat-button class="menu-button"routerLinkActive="active">
      <mat-icon>home</mat-icon>
      <span><a routerLink="homepage" style="color:white">Home</a></span>
    </button>
    <mat-accordion>
      <mat-expansion-panel style="margin-top: 10px;">
        <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>person</mat-icon>
         Admin
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
        <button style="color:black" mat-button class="menu-button"routerLinkActive="active">
          <!-- <mat-icon>Company</mat-icon> -->
          <span><a routerLink="clientDetails" style="color:black">ClientDetails</a></span>
        </button>
      </div>
      <div>
        <button style="color:black" mat-button class="menu-button"routerLinkActive="active">
          <!-- <mat-icon>Company</mat-icon> -->
          <span><a routerLink="cattleDetails" style="color:black">CattleDetails</a></span>
        </button>
      </div>
      <div>
        <button style="color:black" mat-button class="menu-button"routerLinkActive="active">
          <!-- <mat-icon>User</mat-icon> -->
          <span><a routerLink="milkPurchase" style="color:black">MilkPurchase</a></span>
        </button>
      </div>
    </mat-expansion-panel>
      </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel style="margin-top: 10px;" >
        <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>person</mat-icon>
         Products
        </mat-panel-title>
        <mat-panel-description>
          <!-- Click here to expand the panel	  -->
        </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
        <button style="color:black" mat-button class="menu-button"routerLinkActive="active">
          <!-- <mat-icon>Company</mat-icon> -->
          <span><a routerLink="products" style="color:black">Products</a></span>
          <!-- <span><a routerLink="production" style="color:black">Production</a></span> -->
        </button>
      </div>
      <div>
        <button style="color:black" mat-button class="menu-button"routerLinkActive="active">
          <!-- <mat-icon>Company</mat-icon> -->
          <span><a routerLink="production" style="color:black">Production</a></span>
        </button>
      </div>
      <div>
        <button style="color:black" mat-button class="menu-button"routerLinkActive="active">
          <!-- <mat-icon>Company</mat-icon> -->
          <span><a routerLink="feedDetails" style="color:black">FeedDetails</a></span>
        </button>
      </div>
      </mat-expansion-panel>
      </mat-accordion>
   </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

