<mat-card class="example-card">
  <mat-card-title>Client Details</mat-card-title>
  <br>
  <mat-card-content>
    <form class="form" [formGroup]="clientDetailsForm">
      <div class="container-fluid">
        <div class="row">
          <div class="col-3">
            <mat-form-field appearance="outline" class="desc">
              <mat-label>Client Id</mat-label>
              <input id="clientid" matInput placeholder="Client Id" [(ngModel)]="ClientId"
                [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field appearance="outline" class="desc">
              <mat-label>Client Name</mat-label>
              <input id="ClientName" matInput placeholder="Client Name" formControlName="name">
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field appearance="outline" class="desc">
              <mat-label>Client Type</mat-label>
              <mat-select formControlName="type" multiple>
                <mat-option class="ClientType" *ngFor="let x of ClientTypesList"
                  [value]="x.itemCode">{{x.itemName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <mat-form-field appearance="outline" class="desc">
              <mat-label>Contact Number1</mat-label>
              <input id="ContactNumber1" matInput placeholder="Contact Number1" formControlName="contactNumber1">
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field appearance="outline" class="desc">
              <mat-label>Contact Number2</mat-label>
              <input id="ContactNumber2" matInput placeholder="Contact Number2" formControlName="contactNumber2">
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field appearance="outline" class="desc">
              <mat-label>Contact Name</mat-label>
              <input id="ContactName" matInput placeholder="Contact Name" formControlName="contactName">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <mat-form-field appearance="outline" class="desc">
              <mat-label>Email</mat-label>
              <input id="email" matInput placeholder="Email" formControlName="email">
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field appearance="outline" class="desc">
              <mat-label>Department</mat-label>
              <input id="dept" matInput placeholder="Department" formControlName="department">
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field appearance="outline" class="desc">
              <mat-label>Designation</mat-label>
              <input id="designation" matInput placeholder="Designation" formControlName="designation">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <mat-form-field appearance="outline" class="desc">
              <mat-label>Address1</mat-label>
              <input id="Address1" matInput placeholder="Address1" formControlName="address1">
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field appearance="outline" class="desc">
              <mat-label>Address2</mat-label>
              <input id="Address2" matInput placeholder="Address2" formControlName="address2">
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field appearance="outline" class="desc">
              <mat-label>Address3</mat-label>
              <input id="Address3" matInput placeholder="Address3" formControlName="address3">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <mat-form-field appearance="outline" class="desc">
              <mat-label>City</mat-label>
              <input matInput placeholder="City" formControlName="city">
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field appearance="outline" class="desc">
              <mat-label>State</mat-label>
              <input matInput placeholder="State" formControlName="state">
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field appearance="outline" class="desc">
              <mat-label>Country</mat-label>
              <input matInput placeholder="Country" formControlName="country">
            </mat-form-field>
          </div>
        </div>
        <div class="col-9">
          <mat-form-field appearance="outline" class="desc">
            <mat-label>Description</mat-label>
            <textarea id="description" matInput placeholder="Description" formControlName="description"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div align="center" [ngStyle]="{'background-color':textcolor,'color':'white'}">
        {{msg}}</div>
      <div class="button-container">
        <button id="btn" mat-raised-button color="primary" type="submit"
          (click)="submit()"><mat-icon>save</mat-icon>Apply</button>
        <button id="btn" type="button" mat-raised-button color="accent"
          (click)="Get()"><mat-icon>cached</mat-icon>Get</button>
        <button id="btn" type="button" mat-raised-button color="accent"
          (click)="update()"><mat-icon>cached</mat-icon>Update</button>
        <button id="btn" type="button" mat-raised-button color="red"
          (click)="Delete()"><mat-icon>clear_all</mat-icon>Delete</button>
        <button id="btn" type="button" mat-raised-button color="red"
          (click)="clear()"><mat-icon>clear</mat-icon>Clear</button>
      </div>
      <div>
        <ag-grid-angular class="grid"
        style="width:auto;height:200px;" [gridOptions]="gridOptions"
        class="ag-theme-alpine" [columnDefs]="colDefs"
        [rowData]="rowData" [rowHeight]="20">
        </ag-grid-angular>
      </div>
    </form>
  </mat-card-content>

</mat-card>
