.form{
  background-color: white;
  text-align: center;
  overflow: hidden;
}
.header{
  width:auto;
  height:80px;
  color: white;
  margin-bottom: 50px;
  padding-top:1px;
  text-align:left;
  padding-left: 3px;
  background: linear-gradient(to bottom,rgb(126, 126, 246),rgb(20, 100, 198));
 }
 mat-card-title{
margin-bottom:-12px ;
color:brown;
font-size: medium;
margin-left: 10px;
/* background-color: white; */
 }
 mat-card{
  margin-bottom: 5px;
  text-align: center;
 }
mat-form-field{
  font-size: 12px  !important;
  width :20px;
}
.desc{
  width: 100%;
}
.Date{
  width:100%;
}

#btn{
  margin-left:20px !important;
  margin-bottom:-5px !important;
  font-size: 9px;
 height: 24px !important;
}
.btn btn-md btn-outline-info {
  margin-left:20px !important;
  margin-top:20px !important;
  font-size: 9px;
 height: 24px !important;
}
.button-container{
  text-align: center;
}
.search-field{
  width:20%;
  margin-left: 60px;
  height: -80px !important;
  /* height:10px; */
}
.search-field .mat-input-element {
  height: 30px; /* Adjust the input element height */
  padding: 5px; /* Adjust padding for better fit */
}
.total-row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-weight: bold;
  margin-left:650px ;
  margin-right: 20px;
}
.total-row span {
  margin-right: 10px;
}
.ag-theme-alpine{
  width:auto;
  max-width: 100%;
  overflow: hidden;
  --ag-font-size: 10px;
  --ag-header-height: 10px;
  --ag-header-foreground-color: white;
  --ag-header-background-color: rgb(13, 124, 228);
  --ag-header-cell-hover-background-color: rgb(80, 40, 140);
  --ag-header-cell-moving-background-color: rgb(80, 40, 140);

}

.ag-theme-alpine .ag-header {
  font-family: cursive;
 }
 .ag-theme-alpine .ag-header-group-cell {
  font-weight:normal;
  font-size: 22px;

}
.ag-theme-alpine .ag-header-cell {
  font-size: 18px;

}
 ::ng-deep .mat-mdc-text-field-wrapper {
  height: 30px !important;
  gap :3px;
  width:20px
}
::ng-deep .mat-mdc-form-field-flex {
  margin-top: -10px !important;
}
::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: -0.3em 0px !important;}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-label { margin-top:-50px; }
/* ::ng-deep label.ng-star-inserted { transform: translateY(-0.59375em) scale(.75) !important; } */
 ::ng-deep label.ng-star-inserted {transform: translateZ(-0.29355em) scale(.75) !important;}

/* ::ng-deep .mat-mdc-form-field-infix {
  min-height: 10px;
  font-size: x-small;
}
 mat-mdc-text-field-wrapper
mdc-text-field
ng-tns-c1205077789-4
mdc-text-field--filled {
top: -1.5em !important;
}
::ng-deep .mat-mdc-form-field-flex > .mat-mdc-form-field-infix {
  padding: 0.4em 0px !important;
}
::ng-deep .mat-mdc-text-field-wrapper {
  top: -1.5em !important;
} */


