<mat-card>
  <mat-card-title>Purchase Details</mat-card-title>
  <br>
  <mat-card-content>
  <form class="form" [formGroup]="PurchaseDetailsForm">
    <div class="container-fluid">
      <div class="row">
        <!-- <div class="col-4">
          <mat-form-field appearance="outline" class="desc">
            <mat-label>Client Id</mat-label>
            <input id="clientid" matInput placeholder="Client Id" [(ngModel)]="ClientId"
              [ngModelOptions]="{standalone:true}">
          </mat-form-field>
        </div> -->
        <div class="col-3">
          <mat-form-field appearance="outline" class="desc">
            <mat-label>Clients</mat-label>
            <mat-select  [(ngModel)]="ClientId" [ngModelOptions]="{standalone:true}" >
              <mat-option class="ClientId" *ngFor="let client of clients" [value]="client.clientId">
              {{client.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-1">
          <button id="btn" type="button" mat-raised-button color="accent"
            (click)="Get()"><mat-icon>cached</mat-icon>Get</button>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <mat-form-field appearance="outline" class="desc">
            <mat-label>Phone Number</mat-label>
            <input id="PhoneNumber" type="text" matInput placeholder="PhoneNumber" formControlName="phoneNumber">
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field appearance="outline" class="Date">
            <mat-label>Purchase Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field appearance="outline" class="desc">
            <mat-label>Milk Type</mat-label>
            <mat-select #mode value="Select" aria-placeholder="Milk Type" formControlName="milkType">
              <mat-option value="">Select</mat-option>
              <mat-option value="Cow Milk">Cow Milk</mat-option>
              <mat-option value="Buffalo Milk">Buffalo Milk</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field appearance="outline" class="desc">
            <mat-label>Quantity</mat-label>
            <input id="quantity" type="number" matInput placeholder="Quantity" formControlName="quantity">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <mat-form-field appearance="outline" class="desc">
            <mat-label>SNF</mat-label>
            <input id="SNF" type="number" matInput placeholder="SNF" formControlName="SNF">
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field appearance="outline" class="desc">
            <mat-label>fat</mat-label>
            <input id="fat" type="number" matInput placeholder="fat" formControlName="fat">
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field appearance="outline" class="desc">
            <mat-label>PricePerLiter</mat-label>
            <input id="pricePerLiter" type="number" matInput placeholder="PricePerLiter" formControlName="pricePerLiter"
              readonly>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field appearance="outline" class="desc">
            <mat-label>TotalPrice</mat-label>
            <input id="totalPrice" type="number" matInput placeholder="TotalPrice" formControlName="totalPrice" readonly>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <!-- <mat-form-field  appearance="outline" class="desc">
            <mat-label>Avg Quantity</mat-label>
            <input type="number" matInput placeholder=" Avg Quantity" [(ngModel)]="avgQuantity"
              [ngModelOptions]="{standalone:true}" readonly>
          </mat-form-field> -->
          <mat-label>Quantity Avg: <b style="color: brown;">{{avgSnf}}</b></mat-label>
        </div>
        <div class="col-3">
          <!-- <mat-form-field appearance="outline" class="desc">
            <mat-label>Avg SNF</mat-label>
            <input type="number" matInput placeholder="Avg SNF" [(ngModel)]="avgSnf" [ngModelOptions]="{standalone:true}"
              readonly>
          </mat-form-field> -->
          <mat-label>SNF Avg: <b style="color: brown;">{{avgSnf}}</b></mat-label>
        </div>
        <div class="col-3">
          <!-- <mat-form-field appearance="outline" class="desc">
            <mat-label> Avg Fat</mat-label>
            <input type="number" matInput placeholder=" Avg Fat" [(ngModel)]="avgFat" [ngModelOptions]="{standalone:true}"
              readonly >
          </mat-form-field> -->
          <mat-label>Fat Avg: <b style="color: brown;">{{avgFat}}</b></mat-label>
        </div>
        <div class="col-3">
          <!-- <mat-form-field appearance="outline" class="desc">
            <mat-label>Avg Total</mat-label>
            <input type="number" matInput placeholder="Avg Total" [(ngModel)]="avgTotal"
              [ngModelOptions]="{standalone:true}" readonly >
          </mat-form-field> -->
          <mat-label>Total Avg: <b style="color: brown;">{{avgTotal}}</b></mat-label>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <mat-form-field appearance="outline" class="desc">
            <mat-label>Notes</mat-label>
            <textarea matInput type="textarea" placeholder="Notes" formControlName="notes"></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div  [ngStyle]="{'background-color':textcolor,'color':'white'}">
      {{msg}}</div>
    <div class="button-container">
      <button id="btn" mat-raised-button color="primary" type="submit"
        (click)="submit()"><mat-icon>save</mat-icon>Apply</button>
      <button id="btn" type="button" mat-raised-button color="accent"
        (click)="update()"><mat-icon>cached</mat-icon>Update</button>
      <button id="btn" type="button" mat-raised-button color="warn"
        (click)="delete()"><mat-icon>clear_all</mat-icon>Delete</button>
      <button id="btn" type="button" mat-raised-button color="red"
       (click)="clear()" ><mat-icon>clear</mat-icon>Clear</button>
      <button id="btn" type="button" mat-raised-button color="accent" (click)="GetMultiple()">
          <mat-icon>search</mat-icon>Get Multiple
        </button>

        <button (click)="exportToPdf()">Download PDF</button>

    
      <button class="btn btn-md btn-outline-info" style="margin-left:40px;margin-bottom:10px;height:30px ;" (click)="exportToExcel()">Export to Excel</button>

    </div>
    <div>
      <ag-grid-angular style="width:auto;height:200px;"  [gridOptions]="gridOptions"
       class="ag-theme-alpine" [columnDefs]="colDefs"  [rowHeight]="20"
        [rowData]="rowData">
      </ag-grid-angular>
    </div>
  </form>
</mat-card-content>
</mat-card>
