<form class="form" align="center">
  <div>
    <h1 class="header">Cattle Details</h1>
  </div>
  <div class="container fluid">
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Cattle Id</mat-label>
      <input id="cattleid" matInput placeholder="Cattle Id">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Client Id</mat-label>
      <input id="clientid" matInput placeholder="Client Id">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field  appearance="outline">
      <mat-label>Cattle Type</mat-label>
      <mat-select id="CattleType" #mode value="select">
        <mat-option value="Buffalo">Buffalo</mat-option>
        <mat-option value="Cow">Cow</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Tag No</mat-label>
      <input id="tagno" matInput placeholder="Tag No">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Cattle Colour</mat-label>
      <input id="CattleColour" matInput placeholder="Cattle Colour">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Cattle Breed</mat-label>
      <input id="CattleBreed" matInput placeholder="Cattle Breed">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>approxAge</mat-label>
      <input id="approxAge" type="number" matInput placeholder="approxAge">
    </mat-form-field >
    <!-- <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="Male">Male</mat-radio-button>
      <mat-radio-button value="Female">Female</mat-radio-button>
      <mat-radio-button value="Others">Others</mat-radio-button>
    </mat-radio-group> -->
    <!-- <mat-form-field appearance="outline">
      <mat-label>Gender</mat-label>
      <mat-select [(value)]="selectedGender">
        <mat-option>
          <mat-radio-group aria-label="Select Gender">
            <mat-radio-button *ngFor="let gender of genders" [value]="gender">
              {{ gender }}
            </mat-radio-button>
          </mat-radio-group>
        </mat-option>
      </mat-select>
    </mat-form-field> -->
    <mat-form-field appearance="outline">
      <mat-label>Gender</mat-label>
      <mat-select [formControl]="selectedGenderType" single>
        <mat-option>
          <mat-radio-group [formControl]="selectedGenderType">
            <mat-radio-button class="GenderType" *ngFor="let genderType of genderTypesList" [value]="genderType">
              {{ genderType }}
            </mat-radio-button>
          </mat-radio-group>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field  appearance="outline" >
      <mat-label>Milk Session</mat-label>
      <mat-select #mode value="select">
        <mat-option value="Morning">Morning</mat-option>
        <mat-option value="Evening">Evening</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Quantity</mat-label>
      <input id="Quantity" type="number" matInput placeholder="Quantity">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Health Status</mat-label>
      <input id="HealthStatus" matInput placeholder="Health Status">
    </mat-form-field>
    <mat-form-field  appearance="outline">
      <mat-label>Description</mat-label>
      <textarea id="Description" matInput placeholder="Description"></textarea>
  </mat-form-field>
  </div>
</div>
</form>
